<h1>RESTAURANT DATABASE MANAGEMENT SYSTEM</h1>
<form action="./customer">
    <input type="submit" value="CUSTOMER" />
</form>
<form action="./signup">
    <input type="submit" value="EMPLOYEE" />
</form>
