<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Restaraunt Sign Up Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="signup.css">

  
</head>

<body>

  <div class="signup">
  <div class="cont  thumbnail">
    <div class="logo">
      <svg class="logo__shape" width="25px" viewBox="0 0 634 479" xmlns="http://www.w3.org/2000/svg"><g><path d=""/></g></svg>
      <h1 class="logo__text">CLUSTER</h1>
    </div>
    <div class="content text-center">
      <h1 class="first-head">Welcome to Proxy</h1>
      <h2 class="second-head">Buisness as usual</h2>
    </div>
    
    <div class="signup2"></div>
  </div>
  <div class="cont  signup-form">
    <form action="#">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Username" id ="sig_usr" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Email Id" id="sig_email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" id="sig_passwd" required />
      </div>
      <div class="form-group">
        <label for="passwordRepeat">Repeat Password</label>
        <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="********" id="sig_rep_passwd" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn-form" type="submit" value="Register" />
          </li>
          <li>
            <a class="signup-link" href="login.handlebars">I am already a member</a>
          </li>
        </ul>
      </div>
    </form>  
  </div>
</div>
  
<script src="link.js"></script>

</body>

</html>
